.form
  padding: 10px 15px
.group
  height: 100px
.checkGroup
  margin-bottom: 1.5rem
.invalid
  padding-top: 5px
.message
  display: inline-block
  font-size: 14px
.earth
  position: relative
  $width: 150px
  margin: 20px auto 0
  width: $width
  height: $width
.noWebGl
  position: absolute
  z-index: 1
  top: 0
  left: 0
  right: 0
  bottom: 0