.form
  padding: 10px 15px 30px
.loginAd
  margin-bottom: 20px
  padding: 15%
.group
  margin-bottom: 0
  height: 100px
  \:global(.ant-form-item-label)
    line-height: 20px
.checkGroup
  height: 20px
.mb40
  margin-bottom: 40px
.checkText
  margin-left: 5px
.linkDescription
  text-align: right
  line-height: 80px