.content
  min-height: auto !important
.user
  font-size: 18px
  color: #fff
  background-color: #faad14
.avatarText
  margin-left: 15px
.content
  padding: 3px 0
.nav
  padding: 10px 0 0
.navItem
  display: block
  margin: 0 auto 20px
  min-width: 90px
  cursor: pointer
  text-align: center
  &:hover
    text-decoration: none
.navLink
  display: inline-block
.navAvatar
  display: block !important
  margin: 0 auto 10px !important
.navItemText
  font-size: 14px
  color: #007bff
.indexAdBox
  margin: 10px 20px
.indexAd
  padding-bottom: 30%
.mt10
  margin-top: -10px