.user
  font-size: 18px
  color: #fff
.avatar
  $width: 30px
  width: $width
  height: $width
  margin-right: 15px
  border-radius: 5px
.nav
  margin-left: 0
  margin-right: 0
.navCol
  padding: 0
.navItem
  display: block
  margin: 0 auto 10px
  width: 120px
  padding: 20px 10px
  text-align: center
  cursor: pointer
  &:hover
    text-decoration: none
.navItemImage
  display: block
  margin-bottom: 5px
  width: 100%
  border-radius: 5px
  max-width: 100px
.navItemText
  font-size: 14px
  color: #007bff
.modal
  display: block
  background-color: rgba(0, 0, 0, .4)