.user
  font-size: 18px
  color: #fff
  background-color: #faad14
  text-align: center
.avatarText
  margin-left: 15px
.content
  padding: 20px 0
.navItem
  display: block
  margin: 0 auto 10px
  min-width: 90px
  cursor: pointer
  text-align: center
  &:hover
    text-decoration: none
.navAvatar
  display: block
  margin: 0 auto 20px
.navItemText
  font-size: 14px
  color: #007bff