$border: 1px solid #ddd

.ad
  position: relative
  border: $border
.iframeBox, .text
  position: absolute
.iframeBox
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
.text
  bottom: 0
  right: 0
  font-size: 12px
  padding: 1px 4px
  border-left: $border
  border-top: $border