$border: 1px solid #ddd

.ad
  position: relative
  border: $border
.adBox, .text
  position: absolute
.adBox
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  overflow: hidden
  img
    width: 100%
.text
  bottom: 0
  right: 0
  margin: 0
  font-size: 12px
  padding: 1px 4px
.carouselBox
  margin: 10px 20px
  overflow: hidden
.carouselItem
  position: relative
  width: 100%
  padding-bottom: 29%
.carouselItemImage
  display: block
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  img
    width: 100%