doctype html
html
  head
    meta(charset='utf-8')
    meta(name='renderer' content='webkit')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='keywords' content='48, 微博, react, javascript')
    meta(name='description' content='这只是一个个人的学习网站，没有商用用途。')
    link(rel='shortcut icon' href=require('./favicon.ico'))
    title {% title %}
  body
    div.react-app#react-app(data-app) {% render %}
    script= 'window.__INITIAL_STATE__ = {% initialState %};'
    script(type='text/javascript' src=require('./weibo-pattlock'))
    script(type='text/javascript' src=require('../.dll/dll'))