.footer
  padding: 10px
  font-size: 12px
  text-align: center
.footerNav
  margin-bottom: 10px
  span, a
    display: inline-block
  a
    margin-left: 10px
.footerSpan
  display: inline-block
  img
    margin-right: 5px
.ml10
  margin-left: 10px