/* 网站通用样式 */
.main
  margin: 0 auto
  width: 100%
  height: 100%
  max-width: 600px
  background-color: #fff
  -webkit-overflow-scrolling: touch
  overflow: auto
.fixedNav
  position: fixed
  z-index: 2
  top: 0
  left: 0
  width: 100%
.fixedMain
  padding-top: 64px