.extra
  text-align: right
.qiandaoAll
  margin-bottom: 10px
.loadData
  margin: 10px 0 0
.tag
  margin-left: 5px
.msg
  margin-top: 5px
.loading
  padding: 5px 0
  font-size: 12px
  text-align: center
  span
    margin-left: 5px